// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$google-icon-name: 'google-icon';
$google-icon-x: 0px;
$google-icon-y: 0px;
$google-icon-offset-x: 0px;
$google-icon-offset-y: 0px;
$google-icon-width: 512px;
$google-icon-height: 512px;
$google-icon-total-width: 589px;
$google-icon-total-height: 512px;
$google-icon-image: '../img/sprite.png';
$google-icon: (0px, 0px, 0px, 0px, 512px, 512px, 589px, 512px, '../img/sprite.png', 'google-icon', );
$instagram-name: 'instagram';
$instagram-x: 517px;
$instagram-y: 130px;
$instagram-offset-x: -517px;
$instagram-offset-y: -130px;
$instagram-width: 24px;
$instagram-height: 24px;
$instagram-total-width: 589px;
$instagram-total-height: 512px;
$instagram-image: '../img/sprite.png';
$instagram: (517px, 130px, -517px, -130px, 24px, 24px, 589px, 512px, '../img/sprite.png', 'instagram', );
$instagram-2x-name: 'instagram@2x';
$instagram-2x-x: 517px;
$instagram-2x-y: 77px;
$instagram-2x-offset-x: -517px;
$instagram-2x-offset-y: -77px;
$instagram-2x-width: 48px;
$instagram-2x-height: 48px;
$instagram-2x-total-width: 589px;
$instagram-2x-total-height: 512px;
$instagram-2x-image: '../img/sprite.png';
$instagram-2x: (517px, 77px, -517px, -77px, 48px, 48px, 589px, 512px, '../img/sprite.png', 'instagram@2x', );
$instagram-3x-name: 'instagram@3x';
$instagram-3x-x: 517px;
$instagram-3x-y: 0px;
$instagram-3x-offset-x: -517px;
$instagram-3x-offset-y: 0px;
$instagram-3x-width: 72px;
$instagram-3x-height: 72px;
$instagram-3x-total-width: 589px;
$instagram-3x-total-height: 512px;
$instagram-3x-image: '../img/sprite.png';
$instagram-3x: (517px, 0px, -517px, 0px, 72px, 72px, 589px, 512px, '../img/sprite.png', 'instagram@3x', );
$spritesheet-width: 589px;
$spritesheet-height: 512px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($google-icon, $instagram, $instagram-2x, $instagram-3x, );
$spritesheet: (589px, 512px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
