/* colors */

$white: #fff;
$black: #1f2d3d;
//$red: #df2f4a;
$red: #dc304b;
$icon-red: #f74236;
$green: #1C6E5C;
$grey: #a4acb8;
$grey-dark: #404250;
$grey-light: rgba(28,110,92,.05);

$main-color: $black;
$link-color: $main-color;

/* main variables */

$min-width: 320px;
$max-width: 1080px;
$base-bg: #f6f6f6;
$base-font-size: 1.8rem;
$mobile-font-size: 1.4rem;
$base-line-height: 2.7rem;
$base-font-family: 'Open Sans', sans-serif;
$custom-font-family: 'Roboto', sans-serif;

//text, titles
$text-color: $black;
$title-color: $black;
$title-font-family: 'Vollkorn', serif;
$title-font-weight: 600;

$font-size-h1: 5rem;
$line-height-h1: 6rem;

$font-size-h2: 3.6rem;
$line-height-h2: 4.4rem;

$font-size-h3: 2.4rem;
$line-height-h3: 2.9rem;

$font-size-h4: 1.6rem;
$line-height-h4: 6rem;


$headerHeight: 7.2rem;
$headerHeightMobile: 7.2rem;
$footerHeight: 7rem;

$default-transition: all .2s linear;

//for like animation
$bezier: cubic-bezier(.175, .885, .32, 1.275);