.community-section {
  padding: 2.3rem 0 11rem;
  @media screen and (max-width: 375px) {
    margin: 0 2.5rem;
    padding-bottom: 17.7rem;
  }
  @media screen and (max-width: 320px) {
    margin: 0 1rem;
  }

  .text-block {
    margin: auto;
    max-width: 80rem;
    text-align: center;
  }

  .community-slider {
    margin-top: 7rem;
    padding: 0 7px;
    text-align: center;
    .community-image {
      border-radius: 50%;
      display: inline-block;
      height: 14rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
      overflow: hidden;
      transition: all .3s;
      width: 14rem;
      @media screen and (max-width: 375px) {
        height: 10rem;
        margin-bottom: 2.5rem;
        width: 10rem;
      }
      &:hover {
        box-shadow: 0 5px 20px rgba(0,0,0,.3);
        transform: translateY(-5px);
        + .community-title a {color: #1f2d3d;}
      }
    }//.community-image
    .community-title {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.8rem;
      a {
        color: #666;
        &:hover {
          color: #1f2d3d;
        }
      }

      @media screen and (max-width: 375px) {
        line-height: 2.6rem;
        max-width: 120px;
        margin: auto;
      }
    }
    .slick-arrow {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAkCAAAAACsmEV8AAABAUlEQVQokWP4jwr+Vh7//58BTbDewPISumCPgYGB3W1UwZkGIJCFIrgcLOb/DllwiyFIzOM5spn7TUBiTg+RbT9lBhKzvfkfSfCKFUjM8sJ/JMG79iAx0+P/kQSfuoHEjPf9RxJ87QsSM9z0H0nwUwjYgcv+Iwl+jwOLzfyPJPg7AyzW/R9J8G8xWKzuP7JgA1is8C+yYD9YLOXXf0zBzN//sWiv+Ici+LcELNqKIghz0mQUQZjjF6IIwry5DkXw/2sfkKDRThRBaNCZHkYRhAayxVkUQWh02FxDEYRGnONdFEFoFLs9RU1gkMTg8/o/lmQT/BFbAssnIiliT7SQ5A0Akcsm3QRKNwEAAAAASUVORK5CYII=') #fff no-repeat center;
      background-size: 10px 18px;
      border: solid 1px #e1e1e1;
      border-radius: 50%;
      height: 6rem;
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      width: 6rem;
      z-index: 10;
      @media screen and (max-width: 1024px) {
        margin: 0 -1.5rem 0;
        top: 125%;
      }
      @media screen and (max-width: 375px) {
        top: 138%;
      }
      &:hover {
        box-shadow: 0 0 15px -5px #333;
      }

      &.slick-prev {
        left: -7.5%;
        @media screen and (max-width: 1024px) {
          left: 50%;
          transform: translateY(-50%) translateX(-100%);
        }
      }//&.slick-prev

      &.slick-next {
        right: -7.5%;
        transform: translateY(-50%) rotateZ(180deg);
        @media screen and (max-width: 1024px) {
          right: 50%;
          transform: translateY(-50%) translateX(100%) rotateZ(180deg);
        }
      }//&.slick-next
    }//.slick-arrow

  }//.community-slider
}//.community-section