.event-items-section {
  padding:  0 2rem 2rem;

  .grid {
    margin: auto;
    max-width: 1360px;
  }

  .grid-item {
    background: #ccc;
    margin-bottom: 2rem;
    width: 325px;
  }

  .img1 {
    height: 275px;
    width: 100%;
  }

  .img2 {
    height: 356px;
    width: 100%;
  }

  .img3 {
    height: 486px;
    width: 100%;
  }

  .img4 {
    height: 571px;
    width: 100%;
  }

}//.event-items-section