.event-items-section {
  padding: 5rem 2rem 2rem;
  @media screen and (max-width: 425px) {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  .grid {
    opacity: 0;
    margin: auto;

    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }


  .grid-item {

    background: rgba(0, 0, 0, .025);
    border-radius: 5px;
    margin-bottom: 1rem;
    opacity: 0;
    padding: 1rem;
    transition: all .3s;
    width: 325px;

    &.visible {
      opacity: 1;
      transition: opacity .5s 4s;
    }


/*
    &[style*="left: 0"] {
      &:first-child {opacity: 1 !important;}
      @media screen and (max-width: 1702px) {
        &:not(:nth-child(n+4)) {
          opacity: 0;
          //transition: none;
        }
      }//@media screen and (max-width: 1702px)

      @media screen and (max-width: 1372px) {
        &:not(:nth-child(n+3)) {
          opacity: 0;
          //transition: none;
        }
      }//@media screen and (max-width: 1372px)

      @media screen and (max-width: 1041px) {
        &:not(:nth-child(n+2)) {
          opacity: 0;
          //transition: none;
        }
      }//@media screen and (max-width: 1041px)

    }//&[style*="left: 0"]
*/




    &:hover {
      background: rgba(0, 0, 0, .06);
    }
    @media screen and (max-width: 430px) {
      padding: .8rem;
      width: 200px;
    }
    @media screen and (max-width: 400px) {
      width: 185px;
    }
    @media screen and (max-width: 375px) {
      width: 175px;
    }
    @media screen and (max-width: 360px) {
      width: 165px;
    }
    @media screen and (max-width: 330px) {
      width: 150px;
    }

    .grid-item-header {
      background: transparent;
      left: 0;
      min-height: 4rem;
      padding: 1rem 1.2rem;
      position: absolute;
      top: 0;
      @media screen and (max-width: 375px) {
        padding: .5rem;
      }
      a {
        align-items: center;
        display: flex;
        &:hover {
          .user-name {opacity: 1;}
        }
      }
      .user-avatar {
        align-items: center;
        background: #ccc;
        border: 1px solid #ccc;
        border-radius: 50%;
        box-shadow: 0 0 50px 0px rgba(0,0,0,.3);
        display: flex;
        height: 3rem;
        justify-content: center;
        flex-shrink: 0;
        margin-right: .5rem;
        overflow: hidden;
        width: 3rem;
        img {max-width: 3rem;}
        .fa {
          color: #f5f5f5;
          font-size: 3rem;
        }
      }//.user-avatar
      .user-name {
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.8rem;
        opacity: .8;
        text-shadow: 0 0 5px #000;
        word-wrap: break-word;
        word-break: break-word;
      }
      .place {
        color: #979797;
        font-size: .9rem;
        font-weight: 600;
        line-height: 1.5rem;
      }

      .user-tooltip {
        align-items: center;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px -1px rgba(0, 0, 0, .3);
        display: none;
        font-size: 1rem;
        font-weight: 600;
        left: -1rem;
        padding: 1rem;
        position: absolute;
        top: -3.8rem;
        white-space: nowrap;
        &:before {
          content: '';
          border-top: 7px solid #fff;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          bottom: -6px;
          left: 3rem;
          height: 0;
          position: absolute;
          width: 0;
        }
        .btn {margin-left: 3rem;}
      }//.user-tooltip
      &:hover {
        .user-tooltip {display: flex;}
      }

    }//.grid-item-header


    .grid-item-image {
      //min-height: 27.5rem;
      position: relative;
      text-align: center;
    }//.grid-item-image



    .grid-item-footer {
      align-items: center;
      display: flex;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.8rem;
      min-height: 4rem;
      padding: 1rem 1rem 0;
      @media screen and (max-width: 375px) {
        padding: 0;
      }

      .likes {
        align-items: center;
        display: flex;
        margin-right: 1.5rem;
        min-width: 3rem;
        padding-top: .5rem;
        @media screen and (max-width: 375px){
          margin-right: .5rem;
        }
      }//.likes

      .wear {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 425px) {
          //padding-top: 7px;
        }
        div {
          padding: 0 0 0 1rem;
        }
        @media screen and (max-width: 375px){
          //padding-top: .7rem;
        }
        div span {
          @media screen and (max-width: 425px){
            display: none;
          }
        }
      }//.wear

      .share {
        //align-items: center;
        color: #484F56;
        display: flex;
        font-size: 2.2rem;
        margin-left: auto;
        //padding-top: 1rem;
        @media screen and (max-width: 425px) {
          font-size: 1.8rem;
          padding-top: 5px;
        }
        &:hover {color: $black;}
      }

    }//.grid-item-footer

  }//.grid-item

}//.event-items-section