.event-info-section {
  padding-top: $headerHeight;
  text-align: center;

  .event-title {
    font-family: $title-font-family;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 5rem;
    padding: 5rem 0 1rem;
  }
  .section-content {
    font-family: $custom-font-family;
    line-height: 3rem;
    max-width: 80rem;
    margin: auto;
  }
  .event-about-text {
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }
  .event-persons-list {
    color: #666;
    font-size: 1.4rem;
    margin-bottom: 5rem;
  }

}//event-info-section




