footer{
	background: #384150;
	color: $grey;
	font-weight: 600;
	padding-top: 7.5rem;
	min-width: $min-width;
	@media screen and (max-width: 991px) {
		padding-top: 3rem;
	}
	@media screen and (max-width: 425px) {
		font-family: $custom-font-family;
		font-weight: 500;
	}
	a{
		display: inline-block;
		padding: 3px 0;
		&:hover {
			color: #fff;
		}
	}
	.logo {
		margin-bottom: 1.5rem;
		//margin-top: -.2rem;
		@media screen and (max-width: 992px) {
			display: inline-block;
		}
		@media screen and (max-width: 374px) {
			margin-bottom: 0;
			flex-shrink: 0;
		}
	}
}//footer

.footer-main {
	padding-bottom: 1rem;
	@media screen and (max-width: 991px) {
		padding-bottom: 1rem;
	}
	@media screen and (min-width: 1024px) {
		.col-md-4 {
			width: 38%;
		}
		.col-md-2 {
			width: 13%;
		}
		.col-md-3 {
			width: 18%;
		}
	}


	.col-xs-6 {
		float: none;
		display: inline-block;
		margin: 0 -3px;
		vertical-align: top;
	}
}//.footer-main

.footer-lower {
	font-family: $base-font-family;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.93;
	text-align: center;
	.container {
		border-top: 1px solid;
		padding-bottom: .7rem;
		padding-top: .7rem;
	}
}
.footer-copyright {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.5;
	@media screen and (max-width: 991px) {
		margin-left: 3rem;
	}
}
.widget {
	margin-bottom: 3rem;
	&-title {
		color: #fff;
		font-size: 1.6rem;
		line-height: 3rem;
		margin-bottom: 2rem;
	}

	ul {
		list-style: none;
		padding: 0;
		li {
			//margin-bottom: 1.2rem;
		}
	}

	&.widget-links {
		li {
			font-size: 1.4rem;
			a {line-height: 2.7rem;}
		}
	}
	&.wrapper {
		@media screen and (max-width: 374px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}//.widget
