.form-group {
  margin-bottom: 2rem;
  @media screen and (max-width: 425px) {
    margin-bottom: 3rem;
  }
  label {
    color: #666;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    line-height: 2.5;
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 4px;
    padding: 6px 2rem;
    &:not(textarea) {
      height: 5rem;
    }
  }

  input[type="text"],
  input[type="email"] {
    @include placeholder {
      color: #ddd;
      font-weight: normal;
    }
    @extend .form-control;
    color: #343f4b;
    font-weight: 600;
    transition: none !important;
  }

  input:focus,
  textarea:focus {
    border-color: #ccc !important;
    box-shadow: none !important;
    outline: none !important;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #343f4b !important;
    color: #343f4b !important;
  }

}//.form-group

textarea[class*="form-control"] {
  @extend .form-control;
  font-weight: 600;
}