.hero-slider {
  position: relative;
  @media screen and (max-width: 1024px) {
    margin-top: 9rem;
  }

  .main-page-title {
    color: #fff;
    font-family: $title-font-family;
    font-size: 5.6rem;
    font-weight: 900;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 4rem;
      line-height: 1.25;
    }
  }
  .subtitle {
    font-size: 2rem;
    line-height: 1.5;
  }

  .container {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 1024px) {
      top: 35%;
    }
  }

  .slick-slide img {
    min-height: 500px;
    object-fit: cover;
  }

  .slick-dots {
    bottom: 14rem;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    li {
      display: inline-block;
      margin: 0 5px;
      button {
        background-color: #fff;
        border: none;
        border-radius: 50%;
        font-size: 0px;
        height: 8px;
        opacity: .5;
        padding: 0;
        text-indent: -9999px;
        width: 8px;
      }
      &.slick-active button {
        opacity: 1;
      }
    }//li
  }//.slick-dots

}//.hero-slider