.navbar.navbar-transparent {
  div.logo {
    margin-top: 2rem;
  }
}//.navbar
.navbar-nav {
  margin-top: .7rem;
}
.navbar {
  div.logo {
    flex-shrink: 0;
    @media screen and (max-width: 1023px){
      margin-top: 2rem;
    }
    @media screen and (max-width: 992px){
      margin-left: 2rem;
    }
  }
}//.navbar

nav.navbar.bootsnav.navbar-transparent.white {
  height: $headerHeight;
  @media (max-width: 1024px) {
    background: transparent;
  }
  @media (max-width: 375px) {
    height: $headerHeightMobile;
  }

}//nav.navbar.bootsnav.navbar-transparent.white

nav.navbar.bootsnav.navbar-fixed {
  height: $headerHeight;
  top: 0;
  @media (max-width: 375px) {
    height: $headerHeightMobile;
  }
}

nav.navbar.bootsnav ul.nav > li {
  > a {
    color: #9d9d9d;
    font-family: $base-font-family;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 29px 25px;
    text-transform: none;
    &:hover {
      color: #e12c46 !important;
    }
  }//a
  &.active > a {
    color: #e12c46 !important;
  }
}

.login {
  float: right;
  color: #9d9d9d;
  font-size: 14px;
  margin: .5rem 0 0 1.7rem;
  padding-left: 2rem;
  position: relative;
  &:before {
    content: '';
    height: 2rem;
    border-left: 1px solid #9d9d9d;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
  }
  @media (max-width: 992px) {
    &:before {content: none;}
  }
  .fa {
    font-size: 3rem;
    margin-right: 1.5rem;
  }
  a {
    align-items: center;
    padding: 29px 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    &:hover {
      color: #e12c46 !important;
    }
    .navbar-transparent & {
      color: #fff;
    }
    @media (max-width: 375px) {
      padding: 2rem 1rem;
    }
  }
}//.login

nav.navbar-transparent.bootsnav {
  .login {
    color: #fff;
    &:before {
      border-left-color: #fff;
    }
    @media screen and (max-width: 1023px) {
      color: #9d9d9d;
      &:before {
        border-left-color: #9d9d9d;
      }
    }
  }//.login
  .navbar-toggle {
    color: #fff;
  }
}//.navbar-transparent


@media (max-width: 992px) {

  nav.navbar.bootsnav .navbar-header {
    display: flex;
    align-items: center;
    margin: 0;

    .navbar-toggle {
      margin-top: 1.7rem;
    }
  }

}


//MOBILE VIEW
@media screen and (max-width: 992px) {

  div#navbar-menu {
    background: #fff;
    margin: 0;
    overflow: hidden!important;
    width: 100%;
  }
}
