.tag-container {
  opacity: 0;
  position: absolute;
  text-align: center;
  //transition: $default-transition;
  visibility: hidden;
  &.add-tag,
  &:hover {
    .tag-content {
      visibility: visible;
      opacity: 1;
    }
  }
  .show-tags & {
    opacity: 1;
    visibility: visible;
  }

  .tag-content {
    //background: #fff;
    //border-radius: 4px;
    //box-shadow: 0 0 10px -1px rgba(0, 0, 0, .3);
    //bottom: 1.5rem;
    visibility: hidden;
    //left: 0;
    //margin: 1.5rem 1rem;
    //min-width: 14rem;
    opacity: 0;
    //overflow: hidden;
    //padding: .5rem 3.5rem .5rem .8rem;
    //position: absolute;
    //text-align: left;
    //transform: translateX(-50%);
    //transition: $default-transition;
    //width: 20rem;
    z-index: 9;
    &:before {
      border-top: 7px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: '';
      bottom: -5px;
      height: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 0;
    }
    &:after {
      bottom: -2rem;
      content: '';
      height: 2rem;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }//.tag-content

  .name {
    font-size: 1.4rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0px;
  }
  .price {
    //color: #666;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .product-link {
    align-items: center;
    bottom: 0;
    color: #484F56;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 3.5rem;
    &:hover {
      background: rgba(0,0,0,.07);
      color: $black;
    }
  }
  .fa-tag {
    color: #fff;
    font-size: 1.7rem;
    text-shadow: 1px 1px 20px rgba(0,0,0,.5), -1px -1px 20px rgba(0,0,0,.5);
    //transform: translateY(5px); //rotateZ(90deg) translateX(7px)
    @media screen and (max-width: 425px) {
      font-size: 1.4rem;
    }
  }

}//.tag-container


.tag-form {
  //display: none;
  //background-color: #fff;
  //border-radius: 4px;
  //bottom: 1.5rem;
  //font-weight: 600;
  //margin: 1.5rem 1rem;
  //padding: 1rem;
  //position: relative;
  //position: absolute;
  //width: 20rem;
  /*&:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
  }
  &:after {
    top: -2rem;
    content: '';
    height: 2rem;
    left: 0;
    position: absolute;
    width: 100%;
  }*/
  input {
    @include placeholder {
      color: #8c8c8c;
    }
    color: $black;
    border-radius: 4px;
    border: solid 1px #ccc;
    box-shadow: none !important;
    font-size: 1.2rem;
    font-style: italic;
    height: 2.6rem;
    margin-bottom: .7rem;
    outline: none !important;
    transition: $default-transition;
    &:first-child {padding-right: 3.5rem;}
    &:last-child {margin: 0;}
  }
}//form



.add-tag {
  //align-items: center;
  //display: flex;
  //position: absolute;
  //transform: translateX(-50%);
  //transition: initial;
  //z-index: 9;
  &:hover {
    .form {display: block;}
  }
  .fa-tag {
    //color: #fff;
    //font-size: 1.4rem;
  }
  .delete-tag {
    color: #ccc;
    float: right;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    margin-top: -.5rem;
    &:hover {color: $grey;}
  }

  &.tag-left {
    .form:before {
      border-right: 7px solid #fff;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      left: -7px;
      top: 50%;
      transform: translateY(-50%);
    }
  }//&.tag-left
  &.tag-right {
    flex-direction: row-reverse;
    .form:before {
      border-left: 7px solid #fff;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      right: -7px;
      top: 50%;
      transform: translateY(-50%);
    }
  }//&.tag-right
  &.tag-top {
    flex-direction: column;
    .form:before {
      border-bottom: 7px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      top: -7px;
      left: 50%;
      transform: translateX(-50%);
    }
  }//&.tag-top
  &.tag-bottom {
    flex-direction: column-reverse;
    .form:before {
      border-top: 7px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
    }
  }//&.tag-bottom


  .link-button {
    color: #ccc;
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    height: 2.4rem;
    padding: 2px 5px;
    position: absolute;
    right: 1.2rem;
    text-align: center;
    top: 3.4rem;
    //width: 2.8rem;
    &:hover {color: $grey;}
    .icon-link {
      height: .8rem;
      //transform: rotateZ(45deg);
      width: 2rem;
    }
  }//.link-button
  form .url-link:not(.show) {
    /*height: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    visibility: hidden;*/
  }
}//.add-tag


.item-tag {
  background: rgba(255,255,255,.9);
  bottom: 1.2rem;
  border-radius: 3rem;
  color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  height: 3rem;
  left: 1rem;
  line-height: 3rem;
  max-width: 3rem;
  padding: 0 .8rem;
  position: absolute;
  text-align: center;
  transition: all .6s;
  white-space: nowrap;
  z-index: 1;
  @media screen and (max-width: 425px) {
    bottom: 1rem;
    font-size: .9rem;
    height: 2.4rem;
    line-height: 2.4rem;
    left: .5rem;
    padding: 0 .6rem;
  }
  &:not(.has-tags):hover {
    border-radius: 3rem;
    color: #5f5f5f;
    cursor: default;
    max-width: 100%;
    padding: 0 1.3rem;
    width: auto;
    @media screen and (max-width: 375px) {
      padding: 0 1rem;
    }
    i {
      margin-right: 3px;
      @media screen and (max-width: 375px) {
        font-size: 1.2rem;
      }
    }
    span {display: inline-block;}
  }//&:not(.has-tags):hover
  i {
    color: #484F56;
    font-size: 1.5rem;
    transition: all .3s;
    vertical-align: middle;
    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }
  span {
    display: inline-block;
    display: none;
    line-height: inherit;
    margin-top: -3px;
    overflow: hidden;
    vertical-align: middle;
    @media screen and (max-width: 425px) {
      margin-top: -1px;
    }
  }
  &.has-tags {
    &:before {
      background: $red;
      border: 1px solid #fff;
      border-radius: 50%;
      color: #fff;
      content: attr(data-tags);
      font-family: $custom-font-family;
      font-size: 11px;
      font-weight: normal;
      height: 2rem;
      line-height: 1.8rem;
      position: absolute;
      right: -1rem;
      text-align: center;
      top: -1rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > span {display: none;}
  }//&.has-tags
}//.item-tag

.wear-icon {
  color: #484F56;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  transition: $default-transition;
  @media screen and (max-width: 425px) {
    font-size: 1.5rem;
  }
  &:before {
    background: #aaa;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    content: '?';
    font-family: $custom-font-family;
    font-size: 11px;
    font-weight: normal;
    height: 1.8rem;
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $default-transition;
  }
  &.active {
    color: $red;
    &:before {
      background: $red;
    }
  }
}//.wear-icon