.text-section {
  padding: 2.3rem 0 5rem;
  text-align: center;

  .section-wrapper {
    max-width: 80rem;
    margin: auto;
  }
  .section-content {
    max-width: 80rem;
    margin: auto;
  }

}//.text-section