@-webkit-keyframes scroll {
    from {background-position: left;}
    to { background-position: right;}
}
@-moz-keyframes scroll {
    from {background-position: left;}
    to { background-position: right;}
}
@keyframes heart-burst {
    from {background-position: left;}
    to { background-position: right;}
}