@media screen and (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}//@media screen and (min-width: 1200px)


h1{
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 1.5rem 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 1.5rem 0;
	font-weight: 400;	
}

.text-block,
p {
	color: #666;
	font-size: 1.6rem;
	line-height: 3rem;
}

/* text position */
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load {
	background: url(../img/loader.gif) no-repeat left top;
	width: 4rem;
	height: 4rem;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -2rem;
	display: none;
}
.loaded .icon-load{display:block;}





.hero-image {
	background-position: center;
	background-size: cover;
	height: 380px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: $headerHeight;
	@media screen and (max-width: 375px) {
		padding-top: $headerHeightMobile;
	}
	&.occasions {
		.page-title {margin-top: -10rem;}
	}
}//.hero-image




