.page-title {
	color: #fff;
	font-family: $title-font-family;
	font-size: 4.2rem;
	font-weight: 600;
	line-height: 5rem;
	margin-bottom: 2rem;
	text-align: center;
	h1 {
		line-height: 5rem;
		max-width: 100%;
	}
}
.subtitle {
	color: #fff;
	font-size: 2rem;
	line-height: 3rem;
	margin: auto;
	max-width: 76rem;
	text-align: center;
}
h2.section-title {
	color: #1f2d3d;
	font-family: $title-font-family;
  font-size: 3rem;
	font-weight: 600;
  line-height: normal;
	margin: 0 auto 2rem;
	max-width: 80rem;
	text-align: center;
	@media screen and (max-width: 425px) {
		font-size: 2.4rem;
		line-height: normal;
		margin-bottom: 2.5rem;
	}
}
.item-title {
	font-size: 1.8rem;
	font-weight: bold;
}

.logo {
	display: block;
	margin-top: .7rem;
	width: 10rem;
	a {
		display: block;
	}
	.logo-display {
		@media screen and (max-width: 1023px) {
			display: none;
		}
	}
	@media screen and (max-width: 375px) {
		width: 90px;
	}
}//.logo
nav.navbar.bootsnav.navbar-fixed.navbar-transparent {
	.logo-display {
		display: block !important;
	}
	.logo-scrolled {
		display: none !important;
	}
}

.instagram 	{
	background: url(../img/icons/instagram@2x.png) no-repeat center;
	background-size: cover;
	display: inline-block;
	height: 2.4rem;
	margin-top: 5px;
	width: 2.4rem;
}

body #preloader {
	display: none;
}
//body.home #preloader,
body[class*="occasions-page"] #preloader,
body.tax-ocassions #preloader {
	display: flex;
}

.page-text a {
	color: $red;
	&:hover {
		color: darken($red, 7%);
	}
}




.error404 {
	nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-scrolled {
		display: block !important;
		opacity: 1;
		height: auto;
		margin-top: 1.4rem;
		@media screen and (max-width: 992px) {
			margin-top: .7rem;
		}
	}
	nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-display {display: none !important;}

	.navbar.white {
		background: #fff !important;
		border-bottom: 1px solid #e6e6e6 !important;
		#navbar-menu li a {
			color: #999;
			font-size: 1.4rem;
			&:hover {color: #343f4b !important;}
		}
	}//.navbar.white

	.navbar-transparent.white .login .dropdown-toggle {color: #999;}
	nav.navbar-transparent.bootsnav .login:before {
		border-left-color: #999;
	}
	.navbar-transparent.white .login .fa {
		color: #c1c1c1;
	}

}//.error404