.page-title {
	color: #fff;
	font-family: $title-font-family;
	font-size: 4.2rem;
	font-weight: bold;
	line-height: 5rem;
	margin-bottom: 2rem;
	text-align: center;
}
.subtitle {
	color: #fff;
	font-size: 2rem;
	line-height: 3rem;
	margin: auto;
	max-width: 76rem;
	text-align: center;
}
h2.section-title {
	color: #1f2d3d;
	font-family: $title-font-family;
  font-size: 3rem;
	font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
	text-align: center;
	@media screen and (max-width: 425px) {
		font-size: 2.4rem;
		line-height: normal;
		margin-bottom: 2.5rem;
	}
}
.item-title {
	font-size: 1.8rem;
	font-weight: bold;
}

.logo {
	display: block;
	//margin-top: .5rem;
	margin-top: .7rem;
	//width: 11.4rem;
	width: 10rem;
	a {
		display: block;
	}
	.logo-display {
		@media screen and (max-width: 1023px) {
			display: none;
		}
	}
	@media screen and (max-width: 375px) {
		width: 90px;
	}
}//.logo
nav.navbar.bootsnav.navbar-fixed.navbar-transparent {
	.logo-display {
		display: block !important;
	}
	.logo-scrolled {
		display: none !important;
	}
}

.instagram 	{
	background: url(../img/icons/instagram@2x.png) no-repeat center;
	background-size: cover;
	display: inline-block;
	height: 2.4rem;
	margin-top: 5px;
	width: 2.4rem;
}
